nodered_files/flows.json
[
    {
        "id": "tab-plc",
        "type": "tab",
        "label": "PLC - Controlo",
        "disabled": false,
        "info": "Flow para receber dados dos PLCs e enviar para a API EDP"
    },
    {
        "id": "comment-info",
        "type": "comment",
        "z": "tab-plc",
        "name": "EDP - Controlo de Acesso - PLC Integration",
        "info": "# PLC Integration\n\nEste flow liga os PLCs (Modbus/S7) ao wincc-api.\n\n## Fluxo:\n1. PLC envia dados via Modbus TCP\n2. Node-RED processa e formata\n3. POST para http://wincc-api:8080/plc/dados",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject-test",
        "type": "inject",
        "z": "tab-plc",
        "name": "Teste Manual",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "plc/eclusa",
        "payload": "{\"plc\":\"eclusa_rg\",\"nivel_montante\":45.2,\"nivel_jusante\":32.1,\"comporta_aberta\":false,\"modo\":\"automatico\"}",
        "payloadType": "json",
        "x": 200,
        "y": 200,
        "wires": [["format-dados"]]
    },
    {
        "id": "format-dados",
        "type": "function",
        "z": "tab-plc",
        "name": "Formatar para API",
        "func": "const dados = msg.payload;\nmsg.payload = {\n    plc: dados.plc || msg.topic,\n    timestamp: new Date().toISOString(),\n    dados: dados\n};\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [["post-api", "debug-out"]]
    },
    {
        "id": "post-api",
        "type": "http request",
        "z": "tab-plc",
        "name": "POST /plc/dados",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://wincc-api:8080/plc/dados",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 180,
        "wires": [["debug-resposta"]]
    },
    {
        "id": "debug-out",
        "type": "debug",
        "z": "tab-plc",
        "name": "Dados PLC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug-resposta",
        "type": "debug",
        "z": "tab-plc",
        "name": "Resposta API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "tab-comandos",
        "type": "tab",
        "label": "Comandos -> PLC",
        "disabled": false,
        "info": "Recebe comandos da API e envia para os PLCs"
    },
    {
        "id": "comment-cmd",
        "type": "comment",
        "z": "tab-comandos",
        "name": "Comandos API -> PLC",
        "info": "# Comandos para PLC\n\nA API EDP pode enviar comandos ao Node-RED via HTTP.\nO Node-RED traduz e envia ao PLC via Modbus/S7.\n\n## Endpoint:\n- POST http://node-red:1880/api/comando\n  Body: {\"plc\":\"eclusa_rg\",\"acao\":\"mudar_servidor\",\"valor\":\"SRV2\"}",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "http-in-comando",
        "type": "http in",
        "z": "tab-comandos",
        "name": "POST /api/comando",
        "url": "/api/comando",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [["process-comando"]]
    },
    {
        "id": "process-comando",
        "type": "function",
        "z": "tab-comandos",
        "name": "Processar Comando",
        "func": "const cmd = msg.payload;\nif (!cmd.plc || !cmd.acao) {\n    msg.payload = { ok: false, erro: 'Campos obrigatorios: plc, acao' };\n    msg.statusCode = 400;\n    return [null, msg];\n}\nmsg.plc = cmd.plc;\nmsg.acao = cmd.acao;\nmsg.valor = cmd.valor;\nmsg.payload = cmd;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [["debug-cmd", "http-out-ok"], ["http-out-erro"]]
    },
    {
        "id": "debug-cmd",
        "type": "debug",
        "z": "tab-comandos",
        "name": "Comando PLC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "http-out-ok",
        "type": "http response",
        "z": "tab-comandos",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "http-out-erro",
        "type": "http response",
        "z": "tab-comandos",
        "name": "400 Erro",
        "statusCode": "400",
        "headers": {},
        "x": 640,
        "y": 280,
        "wires": []
    }
]
